.min-block-size\:128px{
	min-block-size: 128px
}
.max-block-size\:150px{
	max-block-size: 150px
}
.display\:grid{
	display: grid
}
.grid-template-columns\:70px_128px_1fr_auto{
	grid-template-columns: 70px 128px 1fr auto
}
.border\:1px_solid_var\(--accentColorAlt\){
	border: 1px solid var(--accentColorAlt)
}
.border-radius\:20px{
	border-radius: 20px
}
.cursor\:pointer{
	cursor: pointer
}
.user-select\:none{
	-webkit-user-select: none;
	   -moz-user-select: none;
	        user-select: none
}
.background-color\:var\(--accentColorAlt\){
	background-color: var(--accentColorAlt)
}
.grid-template-rows\:auto_auto_auto{
	grid-template-rows: auto auto auto
}
.contain\:strict{
	contain: strict
}
.inline-size\:var\(--width\){
	inline-size: var(--width)
}
.border-start-start-radius\:20px{
	border-start-start-radius: 20px
}
.border\:0{
	border: 0
}
.background-color\:var\(--accentColor\){
	background-color: var(--accentColor)
}
.color\:white{
	color: white
}
.inline-size\:100\%{
	inline-size: 100%
}
.padding\:var\(--padding\){
	padding: var(--padding)
}
.border-end-start-radius\:20px{
	border-end-start-radius: 20px
}
.text-align\:center{
	text-align: center
}
.justify-content\:center{
	justify-content: center
}
.display\:flex{
	display: flex
}
.align-items\:center{
	align-items: center
}
.isolation\:isolate{
	isolation: isolate
}
.padding\:10px{
	padding: 10px
}
.grid-template-columns\:1fr_auto{
	grid-template-columns: 1fr auto
}
.grid-template-rows\:auto_1fr_auto{
	grid-template-rows: auto 1fr auto
}
.font-weight\:bold{
	font-weight: bold
}
.text-overflow\:fade\(0\.5\){
	text-overflow: fade(0.5)
}
.text-overflow\:ellipsis{
	text-overflow: ellipsis
}
.overflow\:hidden{
	overflow: hidden
}
.white-space\:nowrap{
	white-space: nowrap
}
.grid-template-columns\:auto_1fr{
	grid-template-columns: auto 1fr
}
.grid-template-rows\:auto_auto{
	grid-template-rows: auto auto
}
.justify-items\:end{
	justify-items: end
}
.position\:relative{
	position: relative
}
.display\:inline-block{
	display: inline-block
}
.inline-size\:60px{
	inline-size: 60px
}
.block-size\:34px{
	block-size: 34px
}
.opacity\:0{
	opacity: 0
}
.inline-size\:0{
	inline-size: 0
}
.block-size\:0{
	block-size: 0
}
.cursor\:grab{
	cursor: grab
}
.gap\:8px{
	gap: 8px
}
.grid-template-rows\:auto{
	grid-template-rows: auto
}
.display\:none{
	display: none
}
.border-bottom\:1px_solid_white{
	border-bottom: 1px solid white
}
